{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">강의 등록</h1>
<p class="mb-4"> 강의 등록 화면입니다
    </p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">강의 등록</h6>
    </div>
    <div class="card-body">
        <div>
          <form action = "{% url 'lectureapp:create' %}" method ="post" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="form-group form-inline" >
                  <div style="margin-right:1rem">{{form.name.label}} </div>  {{form.name}}
              </div>
              <div class="form-group form-inline" >
                  <div style="margin-right:1rem">{{form.teacher.label}} </div>  {{form.teacher}}
              </div>
              <div class="form-group form-inline" >
                  <div style="margin-right:1rem">{{form.image.label}} </div>  {{form.image}}
              </div>
              <div class="form-group form-inline" >
                  <div style="margin-right:1rem">{{form.subject.label}} </div>  {{form.subject}}
              </div>
              <div class="form-group" >
                  <div style="margin:0 1rem 1rem 0">{{form.description.label}} </div>  {{form.description}}
              </div>
              <div class="form-group form-inline" >
                  <div style="margin-right:1rem">{{form.is_activated.label}} </div>  {{form.is_activated}}
              </div>
              <div class="form-group form-inline" >
                  <div style="margin-right:1rem">{{form.opendate.label}} </div>  {{form.opendate}}
              </div>
              <div class="form-group form-inline" >
                  <div style="margin-right:1rem">{{form.cost.label}} </div>  {{form.cost}}
              </div>
              <div style="text-align:right">
                   <input type = "submit" value="강의 등록" class = 'btn btn-dark rounded-pill mt-4' >
              </div>
          </form>
        </div>
    </div>
</div>
{% endblock %}