{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Custom styles for this template -->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">강의 리스트</h1>
<p class="mb-4">포엠학원에서 개설된 모든 강의들의 리스트입니다</p>

<!-- DataTales -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">강의 리스트</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div style="margin-bottom:1rem">
            <a href="{% url 'lectureapp:create' %}" class="btn btn-success btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-user-plus"></i>
                                        </span>
                                        <span class="text">생성</span>
                                    </a>
            {% csrf_token %}
            <button type="submit" id="delete-lecture" class="btn btn-danger btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                        <span class="text">삭제</span>
                                    </button>
            </div>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th><input type="checkbox" class="dt_all_chk"></th>
                            <th>상태</th>
                            <th>과목</th>
                            <th>강의명</th>
                            <th>강사</th>
                            <th>수강인원</th>
                            <th>개설일</th>
                            <th>수강료</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lecture in lecture_list %}
                        <tr id="{{lecture.id}}">
                            <td><input class="del-chk" type="checkbox" name="lecture_id[]" value="{{lecture.id}}" id="checked"></td>
                            <td>{{ lecture.is_activated }}</td>
                            <td>{{ lecture.subject }}</td>
                            <td>{{ lecture.name }}</td>
                            <td>{{ lecture.teacher }}</td>
                            <td>{{ lecture.students.all|length }}</td>
                            <td>{{ lecture.opendate}}</td>
                            <td>{{ lecture.cost }}</td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>




{% endblock %}